.idea/XmlParser.iml
cmake-build-debug/XmlParser.cbp
cmake-build-debug/CMakeFiles/XmlParser.dir/build.make
cmake-build-debug/CMakeFiles/XmlParser.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/XmlParser.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/XmlParser.dir/depend.make
cmake-build-debug/CMakeFiles/XmlParser.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/XmlParser.dir/flags.make
cmake-build-debug/CMakeFiles/XmlParser.dir/link.txt
cmake-build-debug/CMakeFiles/XmlParser.dir/progress.make
